<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>音频播放</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../plugins/zplayer/css/zplayer.min.css"/>
    <script src="../../plugins/zplayer/js/zplayer.min.js"></script>
    <style>
        #downloadaudio{
            text-align: right;
            margin-top: 30px;
        }
        #downloadaudio a{
            color: rgb(62,160,255);
            font-size: 14px;
        }
    </style>
</head>
<body>
<div style="width: 500px;">
    <div id="player1"></div>
    <!--<div id="downloadaudio"><a href="" style="text-decoration: none" id="adownload">下载</a></div>-->
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../js/common2.js"></script>
    <script src="../../js/modules/comm/audioPlay.js?v=20181012001"></script>
</div>
</body>
</html>